doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="./img/Logo.ico", type="image/x-icon")
        link(rel="stylesheet", href="./libs/Bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="./libs/fontawesome/css/all.min.css")
        link(rel="stylesheet", href="./libs/slick/slick/slick.css")
        link(rel="stylesheet", href="./libs/slick/slick/slick-theme.css")
        link(rel="stylesheet", href="./css/global.css")
        block css
        block title
    body 

        include navbar.pug
        
        block content

        include footer.pug


        script(src="./libs/jquery-3.5.1.min.js")
        script(src="./libs/Bootstrap/js/bootstrap.bundle.min.js")
        script(src="./libs/slick/slick/jquery-migrate-1.2.1.min.js") 
        script(src="./libs/slick/slick/slick.min.js")
        
        block script 
         