/* Global CSS */

body{
    background-color: #242731;
    color: #6C5DD3;
}

.navBg{
    background-color: #242731;
}

.navbar{
    background-color: #242731 !important;
    padding: 0.125rem 15px;
}

.navbar .navbar-brand{
    font-weight: bold;
}

.navbar .navbar-brand .logo{
    width: 46px;
}

/* caret down */
.dropdown-toggle::after{
    display: none;
}
/* caret down */

.navbar a{
    color: #6C5DD3 !important;
}

