
extends template-part/layout.pug

block linkCss
    link(rel="stylesheet", href="./css/index.css")

block title
    title Trang Chủ

block content
    .container-fluid
        .cover
            .item 
                img.bia(src="./img/cover.jpg", alt="cover")
                .content
                    img.ge(src="./img/Genshin.png", alt="genshin-logo"
                    button.btn.btn-primary FREE TO PLAY
                    img.lo(src="./img/mihoyo.png", alt="")
            .item TEST
                //- img(src="./img/cover.jpg", alt="")
                
            .item
                img(src="./img/cover.jpg", alt="")
            .item
                img(src="./img/cover.jpg", alt="")

        