extends template-part/layout.pug

block title
    title Start Game - Danh sách game

block css
    link(rel="stylesheet", href="./libs/jplist/jplist.styles.css")
    link(rel="stylesheet", href="./css/category.css")

    

mixin item(category, theLoai, href="#", src, alt="image", name, price, sale, ...platforms)
    .grid-item(data-jplist-item)
        .image
            a(href= href) 
                img(src= src, alt= alt)
        .content
            h4.Name
                a(href= href)
                    .name= name     
            p.category(class= category) 
                a(href= href)= theLoai
            p.platform
                each platform in platforms
                    a(href= href) 
                        i(class= platform)
            .btnBox
                button.btn.price= "$ " + price
            .discount
                .sale
                    p= "-" + sale + "%"

block content
    .container.cate
        .leftBox
            h4 Thể loại :
            .box
                .jplist-dd(data-jplist-control='dropdown-filter' data-group='data-group-1' data-name=' name1')
                    .jplist-dd-panel(data-type='panel') Filter by
                    .jplist-dd-content(data-type='content')
                        .jplist-dd-item(data-value='0' data-path='default') Tất cả
                        .jplist-dd-item(data-value='1' data-path='.Action') Hành Động
                        .jplist-dd-item(data-value='2' data-path='.role-playing') Nhập vai
                        .jplist-dd-item(data-value='3' data-path='.strategy') Chiến thuật
        .rightBox
            h4 Sắp xếp theo :
            .buttons
                .jplist-dd(data-jplist-control='dropdown-sort' data-group='data-group-1' data-name='sorttitle')
                    .jplist-dd-panel(data-type='panel') Sort by
                    .jplist-dd-content(data-type='content')
                        .jplist-dd-item(data-path='default' data-selected='true') Mới nhất
                        .jplist-dd-item(data-path='.name' data-order='asc' data-type='text') Tên A-Z
                        .jplist-dd-item(data-path='.name' data-order='desc' data-type='text') Tên Z-A
    .container
        .grid#grid(data-jplist-group='data-group-1')
            +item("Action", "Hành Động", href, "./img/category/7882.jpg", alt, "Dead & Cells", "7.99", "10", "fab fa-windows", "fab fa-apple")
            +item("Action", "Hành Động", href, "./img/category/11685.jpg", alt, "Boomerang FU", "9.99", "10", "fab fa-windows", "fab fa-apple")
            +item("role-playing", "Nhập vai", href, "./img/category/11842.jpg", alt, "Tiny Crack", "5.99", "10", "fab fa-windows", "fab fa-apple")
            +item("strategy", "Chiến Thuật", href, "./img/category/12021.jpg", alt, "Crystal Charsers", "15.99", "10", "fab fa-windows", "fab fa-apple")
            +item("Action", "Hành Động", href, "./img/category/12314.jpg", alt, "Down Bermuda", "8.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến thuật", href, "./img/category/10641.jpg", alt, "Bloon TD 6", "1.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12063.jpg", alt, "Resident Evil", "18.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến thuật", href, "./img/category/12133.jpg", alt, "Anime Studio", "12.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("Action", "Hành Động", href, "./img/category/12188.jpg", alt, "Watch", "5.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến thuật", href, "./img/category/12348.jpg", alt, "Patrol Duty", "15.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12328.jpg", alt, "Rider Joker", "2.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12224.jpg", alt, "Alba", "3.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/11522.jpg", alt, "Neon Abyss", "3.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/11794.jpg", alt, "Deemo Reborn", "1.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/4948.jpg", alt, "The Sim 4", "19.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("Action", "Hành Động", href, "./img/category/9449.jpg", alt, "Just Cause 4", "7.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/10343.jpg", alt, "Disco Elysium", "2.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/10562.jpg", alt, "Freud Gate", "3.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("Action", "Hành Động", href, "./img/category/11368.jpg", alt, "Trials Of Mana", "4.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/11533.jpg", alt, "Azur Ring", "5.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/11646.jpg", alt, "City Sniper", "6.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12110.jpg", alt, "Cloud Punk", "7.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("Action", "Hành Động", href, "./img/category/12145.jpg", alt, "Gun N Hildr", "8.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12156.jpg", alt, "Sim Casino", "9.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12194.jpg", alt, "Haven", "10.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12320.jpg", alt, "Outcast In Mars", "10.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("Action", "Hành Động", href, "./img/category/12485.jpg", alt, "Devil Girl", "45.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12477.jpg", alt, "The Shore", "19.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12471.jpg", alt, "Vogage", "23.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12181.jpg", alt, "Emprire of Sin", "27.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12172.jpg", alt, "Nekopara 4", "9.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12456.jpg", alt, "Nerve", "8.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12221.jpg", alt, "The First Friend", "19.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/11494.jpg", alt, "Minecraft Dungeon", "39.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("strategy", "Chiến Thuật", href, "./img/category/12423.jpg", alt, "Blue Fire", "6.99", "10", "fab fa-windows", "fab fa-apple")        
            +item("role-playing", "Nhập vai", href, "./img/category/12358.jpg", alt, "Rain City", "2.99", "10", "fab fa-windows", "fab fa-apple")        
    
block script
    script(src="./libs/jplist/jplist.min.js")
    script(src="./js/category.js") 