extends template-part/layout.pug

block title
    title Start Game - Trang Chủ

block css
    link(rel="stylesheet", href="./css/index.css")
    
block content
    .container-fluid.cover
        .slide
            img.background(src='./img/cover/Cover.jpg', alt="")
            .test
                .gameName
                    img(src="./img/cover/Genshin.png", alt="")
                .button
                    button.btn
                        | FREE TO PLAY
                .gameStudio
                    img(src="./img/cover/mihoyo.png", alt="")
            