extends template-part/layout.pug

block title
    title Start Game - Trang Chủ

block css
    link(rel="stylesheet", href="./css/index.css")
    
block content
    .container-fluid.cover
        .slide
            img.background(src='./img/cover/Cover.jpg', alt="")
            .content
                .gameName
                    img(src="./img/cover/Genshin.png", alt="")
                .button
                    button.btn
                        | FREE TO PLAY
                .gameStudio
                    img(src="./img/cover/mihoyo.png", alt="")
        .slide
            img.background(src='./img/cover/Ningguang.jpg', alt="")
            .content
                .gameName
                    img(src="./img/cover/Genshin.png", alt="")
                .button
                    button.btn
                        | FREE TO PLAY
                .gameStudio
                    img(src="./img/cover/mihoyo.png", alt="")
        .slide
            img.background(src='./img/cover/Genshin.Impact.full.3140784.png', alt="")
            .content
                .gameName
                    img(src="./img/cover/Genshin.png", alt="")
                .button
                    button.btn
                        | FREE TO PLAY
                .gameStudio
                    img(src="./img/cover/mihoyo.png", alt="")
    .container 
        .comingSoon
            h2 Sắp Phát Hành
        .container.carousel
            .poster  
                img.background(src="./img/comingsoon/Red-Dead-Redemption-2.jpg", alt="")
                .box
                    .content
                        .gameName Red Dead Redemption 2
                        .gamePrice $ 55.99
                        .gameDes 
                            | Game phiêu lưu hành động với chủ đề về miền Tây hoang dã, game do Rockstar Games phát hành
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đặt hàng
            .poster 
                img.background(src="./img/comingsoon/Marvel.jpg", alt="")
                .box
                    .content
                        .gameName Red Dead Redemption 2
                        .gamePrice $ 55.99
                        .gameDes 
                            | Game phiêu lưu hành động với chủ đề về miền Tây hoang dã, game do Rockstar Games phát hành
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đặt hàng
            .poster 
                img.background(src="./img/comingsoon/Marvel.jpg", alt="")
                .box
                    .content
                        .gameName Red Dead Redemption 2
                        .gamePrice $ 55.99
                        .gameDes 
                            | Game phiêu lưu hành động với chủ đề về miền Tây hoang dã, game do Rockstar Games phát hành
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đặt hàng
            .poster 
                img.background(src="./img/comingsoon/Marvel.jpg", alt="")
                .box
                    .content
                        .gameName Red Dead Redemption 2
                        .gamePrice $ 55.99
                        .gameDes 
                            | Game phiêu lưu hành động với chủ đề về miền Tây hoang dã, game do Rockstar Games phát hành
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đặt hàng
        .container 
            .new 
                h2 Game Mới Đăng
            .container.newGame
                .product
                    img(src="./img/newgame/11731.jpg", alt="")
                .product
                    img(src="./img/newgame/11731.jpg", alt="")
                .product
                    img(src="./img/newgame/11731.jpg", alt="")
            .container.loadMore.d-flex.justify-content-center.mt-5.mb-5
                button.btn.btn-primary Xem thêm



block script 
    script(src="./js/index.js") 