extends template-part/layout.pug

block title
    title Start Game - Trang Chủ

block css
    link(rel="stylesheet", href="./css/index.css")
    
block content
    .container-fluid.cover
        .slide
            img.background(src='./img/cover/Cover.jpg', alt="")
            .content
                .gameName
                    img(src="./img/cover/Genshin.png", alt="")
                .button
                    button.btn
                        | FREE TO PLAY
                .gameStudio
                    img(src="./img/cover/mihoyo.png", alt="")
        .slide
            img.background(src='./img/cover/cyberpunk2077characterart.jpg', alt="")
            .content
                .gameName
                    img(src="./img/cover/cyberLogo.png", alt="")
                .button
                    button.btn
                        | FREE TO PLAY
                .gameStudio
                    img(src="./img/cover/cyber.png", alt="")
    .container 
        .comingSoon
            h2 Sắp Phát Hành
        .container.carousel
            .poster  
                img.background(src="./img/comingsoon/Red-Dead-Redemption-2.jpg", alt="")
                .box
                    .content
                        .gameName Red Dead Redemption 2
                        .gamePrice $ 55.99
                        .gameDes 
                            | Game phiêu lưu hành động với chủ đề về miền Tây hoang dã, game do Rockstar Games phát hành
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đăng ký
            .poster 
                img.background(src="./img/comingsoon/Marvel.jpg", alt="")
                .box
                    .content
                        .gameName Marvel's Avengers
                        .gamePrice $ 12.99
                        .gameDes 
                            | Bom tấn phiêu lưu hành động, nơi hội tụ của Biệt đội siêu anh hùng và những cuộc chiến nảy lửa. 
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đăng ký
            .poster 
                img.background(src="./img/comingsoon/nfsheat.jpg", alt="")
                .box
                    .content
                        .gameName Need for Speed: Heat
                        .gamePrice $ 9.99
                        .gameDes 
                            | Game gồm 127 xe đua thuộc 33 các thương hiệu khác nhau, trong đó có siêu xe Ferrari huyền thoại.
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đăng ký
            .poster 
                img.background(src="./img/comingsoon/empireOfSin.jpg", alt="")
                .box
                    .content
                        .gameName Empire of Sin
                        .gamePrice $ 5.99
                        .gameDes 
                            | Đưa bạn vào trung tâm của thế giới tội phạm khốc liệt những năm 20 ở Chicago
                        .gamePlatform
                            button.btn Xbox
                            button.btn PS 5
                            button.btn PC
                        .gameOrder
                            button.btn Đăng ký
        .container 
            .new 
                h2 Game Mới Đăng
            .container.newGame
                .product
                    img(src="./img/newgame/11731.jpg", alt="")
                .product
                    img(src="./img/newgame/11593.jpg", alt="")
                .product
                    img(src="./img/newgame/12230.jpg", alt="")
                .product
                    img(src="./img/newgame/11685.jpg", alt="")
                .product
                    img(src="./img/newgame/11842.jpg", alt="")
                .product
                    img(src="./img/newgame/12133.jpg", alt="")
                .product
                    img(src="./img/newgame/12188.jpg", alt="")
                .product
                    img(src="./img/newgame/12328.jpg", alt="")
                .product
                    img(src="./img/newgame/12163.jpg", alt="")
            .container.loadMore.d-flex.justify-content-center.mt-5.mb-5
                button.btn.btn-primary Xem thêm
        .container
            .blogContent 
                .blog 
                    h2 Tin tức
                    .box 
                        .image 
                            img(src="./img/blogs/2021012017225667708.jpg", alt="")
                        .text 
                            h4 Sự kiện "Kho Báu Mất Dấu": Tìm kho báu để đổi lấy đạo cụ "Tiên Linh Nhỏ Bé"!
                            p Đến Cổng Đá, nhận bản đồ kho báu và đạo cụ "Tiên Linh Tầm Bảo" từ Ulman. Nhà Lữ Hành có thể xem khu vực kho báu, thu thập "Tiền Xu" để đổi thưởng.
                    .box 
                        .image 
                            img(src="./img/blogs/2021010818065420420.png", alt="")
                        .text 
                            h4 Giới thiệu nhân vật trong Genshin Impact [Ganyu: Cảnh Xuân Trong Mộng]
                            p Mùi hương cam thảo, vị ngọt nhành hoa, khung cảnh gió tuyết, Lưu Ly thoang thoảng.
                                |Mọi thứ như trong giấc mơ của thiếu nữ mang dòng máu Kỳ Lân.
                    .box 
                        .image 
                            img(src="./img/blogs/lego1.png", alt="")
                        .text 
                            h4 150 triệu mảnh ghép và 3 năm làm việc miệt mài, đây là bộ Lego lớn nhất trong lịch sử
                            p Từ 150 triệu mảnh ghép bé nhỏ, qua bàn tay của những nhà thiết kế, chúng ta đã được một tác phẩm Lego để đời.
                        
                .mostView
                    h2 Xem nhiều
                    .box
                        .image
                            img(src="./img/blogs/gta-v-big_1477133865.jpg", alt="")
                        .text 
                            h4 GTA 5 và những tựa game sở hữu cốt truyện hay nhất trong lịch sử
                    .listNew 
                        ul 
                            li
                                a(href="") GTA 5 và những tựa game sở hữu cốt truyện hay nhất trong lịch sử 
                            li
                                a(href="") Bỏ 10 năm xây cả thế giới Chúa Nhẫn trong Minecraft đẹp mê hồn
                            li
                                a(href="") Game thủ Liên Minh: Tốc Chiến đầu tiên của Việt Nam đạt Thách Đấu mùa 1
                            li
                                a(href="") Top 3 trang bị mạnh và dễ sử dụng nhất tại Đấu Trường Chân Lý bản 11.2
                            li
                                a(href="") OMEN 15 Ryzen 4800H- Laptop "ngon, bổ, rẻ" cho fan đội đỏ
            .container.loadMore.d-flex.justify-content-center.mt-5.mb-5
                button.btn.btn-primary Xem thêm
                    
block script 
    script(src="./js/index.js") 