extends template-part/layout.pug

block title
    title Start Game - Trang Chủ

block css
    link(rel="stylesheet", href="./css/index.css")
    
block content
    .container-fluid.cover
        img.background(src="./img/cover/Cover.jpg", alt="cover")
        img.gameName(src="./img/cover/Genshin.png", alt="")
        button.btn.btn-primary
            | FREE TO PLAY
        img.gameStudio(src="./img/cover/mihoyo.png", alt="")
        
            