extends template-part/layout.pug

block title
    title Start Game - Tin tức

block css
    link(rel="stylesheet", href="./css/newsItem.css")

block content
    .container.text.mt-5
        h2 Genshin Impact: Người chơi nên chọn những nhân vật nào cho đội hình?
        p.mt-3.mb-3 Genshin Impact đang trở nên rất hot với hệ thống nhân vật đa dạng của mình, tuy vậy người chơi sẽ có nhiều sự khó khăn trong lúc lựa chọn đội hình phù hợp.
    .container.mt-5.image 
        img(src="./img/products/genshin_13_4K.jpg", alt="image")
        .text-center.mt-1 Hệ thống nhân vật của game khá đa dạng
    .container.text.mt-4
        p.mt-3.mb-3 Với 23 nhân vật khác nhau chưa được mở khóa không bao gồm nhân vật chính, Genshin Impact đang khiến cho những người chơi mới sự tò mò trong việc lựa chọn ra đội hình ưng ý cho cuộc hành trình của mình.
        p.mt-3.mb-3 Mỗi nhân vật trong game Genshin Impact đều có vai trò, hệ khác nhau, vì thế để chọn ra một đội hình phù hợp, người chơi cần phải có một sự tham khảo nhất định.
        p.mt-3.mb-3 Những nhân vật trong Genshin Impact chủ yếu được chia thành 3 vai trò chính: DPS (sát thương chủ lực), Support (hỗ trợ sát thương, gây hiệu ứng) và healer (hồi phục, buff).
        p.mt-3.mb-3 Ngoài ra, mỗi nhân vật còn có một hệ nguyên tố khác nhau như Phong, Hỏa, Lôi, Thủy, Băng… Vì vậy người chơi cần chọn ra một đội hình có thể dung hòa được 2 yếu tố trên.
    .container.mt-5.image 
        img(src="./img/news/Barbara.jpg", alt="image")
        .text-center.mt-1 Barbara luôn là một sự lựa chọn hữu ích cho mọi đội hình
    .container.text.mt-4
        p.mt-3.mb-3 Ví dụ, một đội hình hoàn hảo Genshin Impact sẽ gồm có Diluc (Hỏa), Barbara (Nước), Fischl (Lôi) và nhân vật chính (Phong). Trong đó Diluc là sát thương chủ lực, Barbara hồi phục còn nhân vật chính và Fischl làm nhiệm vụ hỗ trợ.
        p.mt-3.mb-3 Người chơi có thể nhận được những nhân vật qua các nhiệm vụ, hoạt động trong game cùng với đó là việc “cầu nguyện”. Vì thế, cần có một sự may rủi nhất định để có được những nhân vật mạnh (5 sao).
    .container.mt-5.image 
        img(src="./img/news/genshin-impact-zhongli.jpg", alt="image")
        .text-center.mt-1 Zhongli được nhiều người chơi ưa thích bởi tạo hình " ngầu lòi " và khá mạnh
    .container.text.mt-4
        p.mt-3.mb-3 Những nhân vật 4 sao nếu được xây dựng đúng cách thì vẫn có thể hoàn thành tốt vai trò của mình và giúp cho người chơi có được một đội hình cân bằng trong giai đoạn tập làm quen với Genshin Impact.
        p.mt-3.mb-3 Ví dụ như đội hình gồm Chongyun (Băng), Xiangling (Hỏa), Barbara (Thủy) và nhân vật chính (Phong) cũng có thể xem là khá toàn diện và bổ trợ cho nhau khá tốt. Trong đó Xiangling và Barbara là những nhân vật được tặng qua nhiệm vụ nếu người chơi đạt cấp độ 20.
        p.mt-3.mb-3 Genshin Impact được đánh giá là có những thiết kế nhân vật khá cân bằng và là một game thế giới mở với nhiều điều để khám phá. Vì thế người chơi hoàn toàn có thể trải nghiệm một cách tốt nhất tựa game này cho dù giai đoạn đầu game có phần thiếu may mắn.


block script



