extends template-part/layout.pug

block title
    title Start Game - Tin tức

block css
    link(rel="stylesheet", href="./css/news.css")

block content
    .container.title
        h2.mt-4.mb-4 Tin tức
    .container.news
        .content.row 
            .leftContent.col-xl-8.col-lg-8
                .newItem
                    a(href="")
                        .image  
                            img(src="./img/news/2021216163539.png", alt="")
                        .text 
                            p Genshin Impact: Người chơi nên chọn những nhân vật nào cho đội hình?
                        .textMobile 
                            p Genshin Impact: Người chơi nên chọn những nhân vật nào cho đội hình?
            .rightContent.col-xl-4.col-lg-4
                .newItem
                    a(href="")
                        .image  
                            img(src="./img/news/photo-1-1615308404333647913392.jpg", alt="")
                        .text 
                            p Cấu hình game Hoa, game Việt đang gây sốt trên Steam ?
                        .textMobile 
                            p Cấu hình game Hoa, game Việt đang gây sốt trên Steam ?
                .newItem
                    a(href="")
                        .image   
                            img(src="./img/news/lmtcc.jpg", alt="")
                        .text 
                            p Liên Minh Tốc Chiến mở rộng khu vực phát hành
                        .textMobile 
                            p Liên Minh Tốc Chiến mở rộng khu vực phát hành
        .content.older.mt-4.row 
            .content_1.col-xl-3.col-lg-3
                .newItem
                    a(href="")
                        .image  
                            img(src="./img/news/Game4V-Tales-of-Arise-5-555x360.jpg", alt="")
                        .text 
                            p Doom Eternal bị rò rỉ nhiều hình ảnh, achiviement mới
                        .textMobile 
                            p Doom Eternal bị rò rỉ nhiều hình ảnh, achiviement mới 
            .content_2.col-xl-3.col-lg-3
                .newItem
                    a(href="")
                        .image   
                            img(src="./img/news/game4v-Mushoku-Tensei-tap-9-6-555x360.jpg", alt="")
                        .text 
                            p Mushoku Tensei 9: Hành trình trở về nhà
                        .textMobile 
                            p Mushoku Tensei 9: Hành trình trở về nhà 
            .content_3.col-xl-3.col-lg-3
                .newItem
                        a(href="")
                            .image   
                                img(src="./img/news/Game4V-Monster-Hunter-Stories-2-5-555x360.jpg", alt="")
                            .text 
                                p Monster Hunter Stories 2 chính thực được công bố
                            .textMobile 
                                p Monster Hunter Stories 2 chính thực được công bố  
            .content_4.col-xl-3.col-lg-3   
                .newItem
                    a(href="")
                        .image   
                            img(src="./img/news/Game4V-Game-doc-quyen-Sony-len-PC-3-555x360.png", alt="")
                        .text 
                            p Tựa game 'khủng' độc quyền của Sony sẽ chính thức lên PC
                        .textMobile 
                            p Tựa game 'khủng' độc quyền của Sony sẽ chính thức lên PC 
    
block script