/***** General Setting *****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242731;
    color: #6c5dd3;
}

.container,
.container-fluid {
    padding: 0;
}

p{
    margin-bottom: 0;
}

.btn:focus {
    box-shadow: none;
}
/***** General Setting *****/

/*
*
* 
* 
* 
* 
* 
*/

/**** Start Navbar *****/
.sticky-top{
    background-color: #242731;
}

nav {
    margin: 0;
    padding: 2px 0px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    height: auto;
}


.navbar .logo {
    width: 46px;
    margin-right: 10px;
}

nav .navbar-brand{
    margin: 0;
}

nav .navbar-brand:hover{
    color: #FFF;
}

nav a {
    color: #fff;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

nav li{
    margin-right: 25px;
}

nav li:last-child{
    margin-right: 0;
}

nav .active .nav-link {
    color: #6c5dd3 !important;
}

nav .nav-link:hover {
    color: #6c5dd3;
}

nav .navbar-toggler-icon{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

nav .navbar-toggler{
    padding: 0px 8px;
}

nav .cart{
    margin: 0px 15px 0px 12px;
    font-size: 1rem;
    position: relative;
}

.noti{
    color: #FFF;
    position: absolute;
    left: 30px;
    top: 0px;
    background-color: #ff5b2a;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 3px;
}

#navbarDropdown::after,
#navbarDropdown::before{
    display: none;
}

nav i{
    font-size: 20px;
}

nav .fa-bars{
    font-size: 25px !important;
}

nav .fa-caret-down{
    font-size: 1rem;
}

nav .dropdown-item:hover{
    color: #6c5dd3 !important;
}

nav .dropdown-menu{
    background-color: #242731;
}

nav .dropdown-item{
    color: #FFF;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #242731;
}

nav .dropdown-item:hover{
    color: #FFF;
    background-color: #242731;
}

nav .searchMobile{
    display: none;
}

nav .searchDesktop button{
    padding: 0;
    background-color: transparent;
    border: none;
}

nav .searchDesktop button:hover{
    padding: 0;
    background-color: transparent;
    border: none;
    color: #6c5dd3;
}

nav .searchDesktop button:focus{
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

nav .searchMobile button{
    padding: 0;
    background-color: transparent;
    border: none;
}

nav .searchMobile button:hover{
    padding: 0;
    background-color: transparent;
    border: none;
    color: #6c5dd3;
}

nav .searchMobile button:focus{
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/**** End Navbar *****/

/***** Start Modal Search *****/
.modal-content{
    background-color: #242731;
}

.modal-header span{
    color: #6c5dd3;
    text-shadow: none;
}

.modal-content label{
    color: #FFF;
    font-weight: bold;
}

.modal-content .form-group .form-control{
    height: 50px;
}

.modal-footer button{
    background-color: #6c5dd3;
    padding: 12px 64px;
    border: none;
}

.modal-footer button:hover{
    background-color: #5c4bce;
    padding: 12px 64px;
    border: none;
}

.modal-footer button:focus{
    background-color: #6c5dd3;
    padding: 12px 64px;
    border: none;
    box-shadow: none;
}

.modal-footer button:active{
    background-color: #6c5dd3 !important;
    padding: 12px 64px;
    border: none !important;
    box-shadow: none !important;
}
/***** End Modal Search *****/

/***** Start Footer *****/
.footer h3{
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0px;
}

.footer{
    background-color: #FFF;
    height: 462px;
}

.footer .logoBrand .logo {
    width: 74px;
}

.footer .logoBrand a{
    color: #6c5dd3;
}

.footer .mainMenu{
    display: flex;
    justify-content: center;
}

.footer .mainMenu a{
    margin: 0px 15px;
    padding: 15px;
    font-size: 20px;
    color: #000;
}

.footer .mainMenu a:hover{
    color: #6c5dd3;
}

.footer a:hover{
    text-decoration: none;
}

.footer .socials{
    display: flex;
    justify-content: center;
}

.footer .socials i{
    font-size: 25px;
}

.footer .socials a{
    margin: 0px 40px;
    color: #797979;
}

.footer .socials a:hover{
    color: #6c5dd3;
}

.footer .line{
    border-top: 1px solid #C4C4C4;
}

.footer .designBy {
    color: #000;
}

.footer .designBy span{
    color: #6c5dd3;
    font-weight: bold;
}
/***** End Footer *****/


/***** Responsive *****/

@media (max-width: 991.98px){
    nav .dropdown-menu{
        border: 1px solid #6c5dd3;
    }
    
    nav .searchDesktop{
        display: none;
    }

    nav .searchMobile{
        display: block;
    }

    nav .cart{
        margin: 0px 15px 0px 0px;
    }

    nav li{
        padding: 8px 0px;
    }
}

@media (max-width: 767.98px){

    nav .dropdown-menu{
        border: 1px solid #6c5dd3;
    }

    nav li{
        margin-right: 0;
    }

    .footer{
        height: 500px;
    }

    .footer .mainMenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 !important;
    }

    .footer .mainMenu a{
        font-size: 16px;
    }

    .footer .socials{
        display: flex;
        justify-content: center;
        margin: 5px !important;
    }

    .footer .socials a{
        margin: 10px 20px;
    }
}