

/***** Start Cover *****/
.cover {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover .slide .background {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: opacity(50%);
}

.cover .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.cover .slide .gameName img {
    margin-bottom: 100px;
}

.cover .slide .button {
    margin-bottom: 100px;
}

.cover .slide .button .btn {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 64px;
    color: #fff;
    font-weight: bold;
}

.cover .slide .button .btn:hover {
    background-color: #6c5dd3;
}

.cover .slide .gameStudio img {
    text-align: center;
    margin-bottom: 10px;
}

/***** End Cover *****/

/***** Start ComingSoon *****/

.slick-slide {
    margin: 0 15px;
    outline: none;
}

.slick-list {
    margin: 0 -15px;
}

.carousel .slick-list{
    padding: 10px 0px;
}

.slick-dots li button:before {
    color: #fff;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}

ul.slick-dots{
    position: relative;
    bottom: 0;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.comingSoon h2{
    margin: 30px 0px;
}

.poster {
    width: 540px;
    height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    filter: drop-shadow(8px 10px 8px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.poster:hover{
    filter: opacity(90%);
}

.poster .background {
    width: 100%;
    height: 100%;
    filter: opacity(80%);
    object-fit: cover;
}

.poster .box {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: rgba(111, 111, 111, 0.8);
    backdrop-filter: blur(5px);
}

.poster .box .content {
    height: 100%;
    /* border: 2px solid red; */
    padding: 10px;
    color: #fff;
}

.poster .box .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.poster .box .content .gameName {
    font-size: 20px;
    font-weight: bold;
}

.poster .box .content .gamePrice {
    font-size: 26px;
    font-weight: bold;
}

.poster .box .content .gameDes {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.poster .box .content .gamePlatform button {
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px;
}

.poster .box .content .gameOrder button {
    border: 1px solid #fff;
    background-color: #fff;
    font-weight: bold;
    color: #6c5dd3;
    padding: 8px 28px;
    text-align: center;
}

.poster .box .content .gameOrder button:hover {
    background-color: #6c5dd3;
    border-color: #6c5dd3;
    color: #FFF;
}

/***** End ComingSoon *****/


/***** Start New Game *****/
.new h2{
    margin: 30px 0px;
}

.newGame{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 15px 0px;
}

.newGame .product{
    width: 100%;
    height: auto;
    overflow: hidden;
    filter: drop-shadow(8px 10px 8px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    cursor: pointer;
}

.newGame .product:hover > img{
    filter: opacity(80%);
}

.newGame .product img{
    width: 100%;
    object-fit: cover;

}

/***** End New Game *****/

/***** Start Load More Button *****/
.loadMore button{
    background-color: transparent;
    color: #6c5dd3;
    border: 1px solid #6c5dd3;
    padding: 12px 64px;
}

.loadMore button:hover{
    background-color: #6c5dd3;
    color: #fff;
    border-color: #6c5dd3;
}

.loadMore button:active{
    background-color: #6c5dd3 !important;
    color: #fff;
    border-color: #6c5dd3 !important;
}

.loadMore button:focus{
    background-color: #6c5dd3 !important;
    color: #fff;
    border-color: #6c5dd3 !important;
    box-shadow: none;
}

/***** End Load More Button *****/


/***** Start Blog *****/
.blogContent{
    display: flex;
    justify-content: space-between;
}

.blogContent .blog{
    width: 70%;
    margin: 0 30px 30px 0;
}

.blogContent .blog h2{
    margin-bottom: 30px;
}

.blogContent .blog .box{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #FFF;
    overflow: hidden;
    margin: 0 30px 30px 0;
    cursor: pointer;
}

.blogContent .blog .box .image{
    width: 225px;
    height: auto;
}

.blogContent .blog .box .image img{
    width: 225px;
    height: 100%;
    object-fit: cover;
}

.blogContent .blog .box .text{
    padding: 24px;
    text-align: justify;
}

.blogContent .blog .box:hover > .text{
    background-color: #e6e6e6;
}

.blogContent .blog .box .text h4{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    
}

.blogContent .blog .box .text p{
    font-size: 16px;
    color: #000;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blogContent .mostView h2{
    text-align: left;
    margin-bottom: 30px;
}

.blogContent .mostView{
    width: 30%;
}

.blogContent .mostView .box{
    cursor: pointer;
}

.blogContent .mostView .box:hover > .text{
    background-color: #e6e6e6;
}

.blogContent .mostView .image{
    width: 100%;
    overflow: hidden;
}

.blogContent .mostView .image img{
    width: 100%;
    object-fit: cover;
}

.blogContent .mostView .text{
    background-color: #FFF;
    padding: 12px;
}

.blogContent .mostView .text h4{
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.blogContent .mostView .listNew{
    padding: 15px 0px 0px 30px;
}

.blogContent .mostView .listNew li{
    margin-bottom: 15px;
    color: #FFF;
    text-align: justify;
}

.blogContent .mostView .listNew li a{
    color: #FFF;
}

.blogContent .mostView .listNew li a:hover{
    color: #6c5dd3;
    text-decoration: none;
}
/***** End Blog *****/


/*
* 
* 
* 
* 
* 
* 
* 
*/

/***** Responsive *****/
@media (max-width: 1199.98px) {
    .cover .slide .gameName img {
        width: 350px;
        margin-bottom: 60px;
    }

    .cover .slide .button {
        margin-bottom: 60px;
    }

    .cover .slide .gameStudio img {
        width: 120px;
    }

    /* Start Coming Soon */
    .poster .box .content .gameName {
        font-size: 18px;
    }

    .poster .box .content .gamePrice {
        font-size: 22px;
    }
    /* End Coming Soon */

    /* Start New Game */

    .newGame{
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
    }

    /* End New Game */
}

@media (max-width: 991.98px) {
    .cover .slide .gameName img {
        width: 250px;
        margin-bottom: 40px;
    }

    .cover .slide .button {
        margin-bottom: 40px;
    }

    .cover .slide .gameStudio img {
        width: 80px;
    }

    /* Start Coming Soon */

    .poster .box .content .gameName {
        font-size: 18px;
    }

    .poster .box .content .gamePrice {
        font-size: 22px;
    }

    .poster .box .content .gamePlatform button {
        padding: 2px 6px;
    }
    /* End Coming Soon */

    .newGame .product{
        height: auto;
    }
}

@media (max-width: 767.98px) {
    .cover .slide .gameName img {
        width: 250px;
        margin-bottom: 40px;
    }

    .cover .slide .button {
        margin-bottom: 40px;
    }

    .cover .slide .gameStudio img {
        width: 80px;
    }

    .comingSoon h2{
        font-size: 28px;
    }

    /* Start New Game */

    .new h2{
        font-size: 28px;
    }

    .newGame{
        grid-template-columns: auto auto;
        padding: 15px 0px;
    }

    .newGame .product{
        height: auto;
    }

    /* End New Game */

    .blogContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blogContent h2{
        padding: 15px 0px;
        font-size: 28px;
    }

    .blogContent .blog{
        width: 100%;
        margin: 0px;
        padding: 0px 15px;
    }

    .blogContent .blog .box{
        display: flex;
        flex-direction: column;
    }

    .blogContent .blog .box .image{
        width: 100%;
        overflow: hidden;
    }

    .blogContent .blog .box .image img{
        width: 100%;
        height: 180px;
        overflow: hidden;
    }

    .blogContent .mostView{
        width: 100%;
        padding: 0px 15px;
    }

    .blogContent .mostView .box .image img{
        width: 100%;
        height: 180px;
        overflow: hidden;
    }

    .blogContent .mostView .listNew{
        padding: 15px 15px 0px 30px;
    }
    
}

@media (max-width: 575.98px) {
    h2{
        padding: 0px 15px;
    }

    .cover .slide .background {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: opacity(50%);
    }

    .cover .slide .gameName img {
        width: 180px;
        margin-bottom: 20px;
    }

    .cover .slide .button {
        margin-bottom: 15px;
    }

    .cover .slide .button button {
        font-size: 14px;
    }

    .cover .slide .gameStudio img {
        width: 80px;
        display: none;
    }

    /* Start Coming Soon */

    .poster .box .content .gameName {
        font-size: 20px;
        font-weight: bold;
    }

    .poster .box .content .gamePrice {
        font-size: 26px;
        font-weight: bold;
    }

    .poster {
        width: 100%;
        height: auto;
    }

    .carousel{
        padding: 0px 15px;
    }

    .newGame{
        grid-template-columns: auto auto;
        padding: 15px;
    }

    /* End Coming Soon */
}

@media (max-width: 524.98px) {
    .cover .slide .gameName img {
        width: 180px;
        margin-bottom: 20px;
    }

    .cover .slide .button {
        margin-bottom: 15px;
    }
/* 
    .cover .slide .button button {
        font-size: 12px;
    } */

    .cover .slide .gameStudio img {
        width: 80px;
        display: none;
    }

    /* Start Coming Soon */
    
    .poster .box .content .gameName {
        font-size: 14px;
    }

    .poster .box .content .gamePrice {
        font-size: 16px;
    }

    .poster .box .content .gameDes {
        font-size: 14px;
    }

    .poster .box .content .gamePlatform button {
        font-size: 12px;
        padding: 2px 6px;
    }

    .poster .box .content .gameOrder button {
        font-size: 14px;
        /* padding: 4px 8px; */
    }

    .poster {
        width: 100%;
        height: auto;
    }

    .carousel{
        padding: 0px 15px;
    }
    /* End Coming Soon */
}

@media (max-width: 399.98px){

    .poster .box .content .gameName {
        font-size: 16px;
    }

    .poster .box .content .gamePrice {
        font-size: 26px;
    }

    .poster .box .content .gameDes {
        font-size: 14px;
        display: none;
    }

    .poster .box .content .gamePlatform button {
        font-size: 12px;
    }

    .poster .box .content .gameOrder button {
        font-size: 14px;
    }

    .poster {
        width: 100%;
        height: auto;
    }

    .carousel{
        padding: 0px 15px;
    }

}
